.show {
  display: block !important; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.invisible {
  visibility: hidden !important; }

body {
  position: relative;
  padding-top: 0;
  font-family: 'Varela Round', sans-serif; }
  body h3 {
    font-family: 'Hammersmith One', sans-serif; }
  body a {
    color: #3498DB; }
  body a:hover {
    color: #a0cfee;
    text-decoration: none; }

a.anchor {
  display: block;
  position: relative;
  top: 30%;
  visibility: hidden; }

footer {
  padding: 5%;
  color: #ccc;
  text-align: center;
  background-color: #000; }

footer {
  margin: 50px 0; }

.heading {
  margin-bottom: 15px; }

/* Global Content Styles
********************************************/
.content {
  transition: all 0.4s ease;
  padding: 60px 0;
  color: #000; }
  .content h1, .content h2 {
    font-family: 'Hammersmith One', sans-serif; }
  .content h1, .content h2 {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .content h1 {
      font-size: 40px; } }
  @media (min-width: 768px) {
    .content h1 {
      font-size: 50px; } }
  @media (min-width: 768px) {
    .content h2 {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .content h2 {
      font-size: 40px; } }
  .content img {
    width: 100%; }
  .content p {
    font-size: 14px; }
    @media (min-width: 768px) {
      .content p {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .content p {
        font-size: 18px; } }
  .content .info {
    margin: 15px;
    padding: 10px; }
  @media (min-width: 768px) {
    .content ul li {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .content ul li {
      font-size: 20px; } }

.list-group-item {
  padding: 10px 30px 10px 15px; }

/* Projects
********************************************/
.dark {
  background-color: #2f2f2f; }
  .dark .heading {
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #121212; }
  .dark h1 {
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 -1px -3px rgba(0, 0, 0, 0.6); }
  .dark h2 {
    text-align: left; }
  .dark p {
    color: #c6c6c6; }
  .dark .box {
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 15px;
    padding: 10px; }

.carousel {
  margin-top: 25px;
  margin-bottom: 25px; }
  .carousel .carousel-text {
    padding-top: 25px; }
  .carousel .carousel-control.left {
    margin-left: -25px; }
  .carousel .carousel-control.right {
    margin-right: 5px; }
  .carousel .carousel-control.left, .carousel .carousel-control.right {
    background-image: none; }
  .carousel .fa-arrow-circle-o-right, .carousel .fa-arrow-circle-o-left {
    position: absolute;
    top: 55%;
    font-size: 25px; }
  @media (min-width: 992px) {
    .carousel {
      margin-top: 50px;
      margin-bottom: 50px; }
      .carousel .carousel-img {
        padding-left: 75px; }
      .carousel .carousel-text {
        padding-right: 75px; }
      .carousel .carousel-control.left {
        margin-left: -45px; }
      .carousel .carousel-control.right {
        margin-right: -20px; }
      .carousel .fa-arrow-circle-o-right, .carousel .fa-arrow-circle-o-left {
        position: absolute;
        top: 50%;
        font-size: 35px; }
      .carousel .carousel-text {
        padding-top: 0px; } }
  .carousel .carousel-indicators {
    bottom: -50px; }

/* Development Section
************************************************/
#development {
  background-color: #3498DB; }
  #development .heading {
    border-bottom: 1px solid #5C6AFF;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0; }
  #development h1, #development h2 {
    padding-bottom: 5px;
    color: #fff; }
  #development p, #development i {
    color: #003152; }

/* Design Section
************************************************/
#design {
  background: #F2301F; }
  #design .heading {
    border-bottom: 1px solid #A80000;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0; }
  #design h1, #design h2 {
    color: #fff; }
  #design p, #design i {
    color: #510700; }
  #design .responsive {
    font-size: 20px;
    margin: 0 auto;
    display: block;
    width: 227px; }
    @media (min-width: 768px) {
      #design .responsive {
        font-size: 30px;
        width: 340px; } }
    @media (min-width: 992px) {
      #design .responsive {
        font-size: 40px;
        margin: 125px auto 0 auto;
        width: 455px; } }

/* Marketing Section
************************************************/
#marketing {
  background: #48D44A; }
  #marketing h1, #marketing h2 {
    color: #fff; }
  #marketing .heading {
    border-bottom: 1px solid #009B02;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0; }
  #marketing h1 {
    padding-bottom: 5px;
    text-shadow: 0 -1px -3px rgba(0, 0, 0, 0.6); }
  #marketing p, #marketing i {
    color: #003A03; }

/* Contact
***********************************************/
#contact {
  background-color: #EAEAEA; }
  #contact .heading {
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    border-bottom: 1px solid #A6A6A6; }
  #contact h1 {
    padding-bottom: 5px;
    color: #000;
    text-shadow: 0 -1px -3px rgba(0, 0, 0, 0.6); }
  #contact p {
    color: #414141; }
  #contact .col-md-6 {
    margin: 15px 0; }
  #contact .list-icons {
    list-style: none; }
    #contact .list-icons li {
      padding: 5px 0; }
      @media (min-width: 768px) {
        #contact .list-icons li {
          font-size: 16px; } }
      @media (min-width: 992px) {
        #contact .list-icons li {
          font-size: 18px; } }

.form-control {
  height: 45px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.form-control-feedback {
  color: #cccccc; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 15px; }

textarea {
  resize: vertical; }

/* Social Links
---------------------------------- */
.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
  text-align: center; }

.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 24px; }
  @media (min-width: 768px) {
    .social-links li {
      font-size: 36px !important; } }

.social-links li a {
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.social-links li.twitter a:hover {
  color: #55acee; }

.social-links li.github a:hover {
  color: #000; }

.social-links li.linkedin a:hover {
  color: #0976b4; }

.social-links li.googleplus a:hover {
  color: #dd4b39; }

.social-links li.facebook a:hover {
  color: #3b5998; }

/* Buttons
---------------------------------- */
.btn {
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-default {
  color: #3498DB;
  border: 1px solid #cccccc; }

.btn-default:hover {
  color: #ffffff;
  background-color: #3498DB;
  border-color: #3498DB; }

/* Footer
***********************************************/
footer {
  margin: 0px 0px; }

/* Icons
********************************************/
.prj span:after {
  content: "Recent Projects"; }

.dev span:after {
  content: "Development"; }

.des span:after {
  content: "Design"; }

.mkt span:after {
  content: "Marketing"; }

.ctc span:after {
  content: "Contact"; }

span:after {
  padding-left: .5em;
  font-family: 'Hammersmith One', sans-serif; }

@media (max-width: 992px) {
  span:after {
    content: "" !important; } }
nav {
  background: rgba(0, 0, 0, 0.6);
  height: 50px;
  transition: all 0.4s ease; }
  @media (min-width: 768px) {
    nav {
      height: 90px; } }
  nav .navbar-header .logo img {
    transition: all 0.4s ease;
    height: 50px;
    max-width: 100%; }
    @media (min-width: 768px) {
      nav .navbar-header .logo img {
        height: 90px; } }
  nav .navbar-header .logo :hover {
    background-color: #3498DB; }
  nav .navbar-nav {
    margin: 0px;
    float: right;
    transition: all 0.4s ease;
    font-size: 18px; }
    nav .navbar-nav > li {
      transition: all 0.4s ease;
      color: #fff;
      padding: 5px 0px; }
      @media (min-width: 768px) {
        nav .navbar-nav > li {
          padding: 20px 0px; } }
      nav .navbar-nav > li > a {
        transition: all 0.4s ease;
        color: #fff; }
        nav .navbar-nav > li > a span:after {
          padding-left: .5em; }
        @media (max-width: 992px) {
          nav .navbar-nav > li > a span:after {
            content: "" !important; } }

nav.sticky {
  transition: all 0.4s ease;
  background: #000; }
  @media (min-width: 768px) {
    nav.sticky {
      height: 70px; }
      nav.sticky .logo {
        transition: all 0.4s ease; }
        nav.sticky .logo img {
          height: 70px; }
      nav.sticky .navbar-nav {
        font-size: 18px; }
        nav.sticky .navbar-nav > li {
          padding: 10px 0px; } }

.navbar-toggle {
  margin-bottom: 0px !important; }

.nav > li > a:hover, .nav > li.active > a {
  background-color: inherit;
  color: #3498DB; }

.nav > li > a:focus {
  background-color: inherit; }

/* Dropdown Nav for Mobile
************************************/
@media (max-width: 768px) {
  .navbar-collapse {
    width: 100px;
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right; }
    .navbar-collapse li {
      border-bottom: 3px indented; } }

/* Parlex Section
************************************************/
.bg-parlex-banner, .bg-parlex, .bg-parlex2, .bg-parlex3 {
  padding-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.bg-parlex-banner {
  background-image: url("../img/banner-portrait.jpg"); }

.bg-parlex {
  background-image: url("../img/gyuza-banner.jpg"); }

.bg-parlex2 {
  background-image: url("../img/enstein-banner.jpg"); }

.bg-parlex3 {
  background-image: url("../img/rant-banner.jpg"); }

.parlex-back-banner {
  height: 300px;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.2); }
  .parlex-back-banner h2, .parlex-back-banner h3 {
    text-align: left;
    line-height: inherit; }
  .parlex-back-banner p {
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); }
  @media (min-width: 768px) {
    .parlex-back-banner {
      height: 600px;
      padding-top: 150px; }
      .parlex-back-banner p {
        font-size: 30px; } }

.parlex-back {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.5); }

.parlex-back, .parlex-back-banner {
  color: #FDFDFD !important; }
  .parlex-back h2, .parlex-back h3, .parlex-back-banner h2, .parlex-back-banner h3 {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8); }
  @media (max-width: 768px) {
    .parlex-back h1, .parlex-back-banner h1 {
      font-size: 20px; }
    .parlex-back h2, .parlex-back-banner h2 {
      font-size: 18px; } }

footer p {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 24px; }
