nav{
	background:rgba(0, 0, 0, 0.60);
	height:50px;
	transition: all 0.4s ease;
	@media (min-width:$screen-sm){
		height:90px;
	}
	.navbar-header{
		.logo {
			img{
				transition: all 0.4s ease;
				height:50px;
				max-width:100%;
				@media (min-width:$screen-sm){
					height: 90px;	
				}
			}
			:hover{
				background-color:$blue;
			}
		}
	}

	.navbar-nav{
		margin:0px;
		float:right;
		transition: all 0.4s ease;
		font-size:18px;
		> li{
			transition: all 0.4s ease;
			color:#fff;
			padding:5px 0px;
			@media (min-width:$screen-sm){
				padding: 20px 0px;
			}
			> a{
				transition: all 0.4s ease;
				color:#fff;
				span:after { padding-left:.5em; }
				@media (max-width: $screen-md) {
        			span:after {
          				content: ""!important;
					}
				}
			}   	
      	}
	}	
}


nav.sticky{
	transition: all 0.4s ease;
	background:#000;
	@media (min-width: $screen-sm){
	height:70px;
		.logo{
			transition: all 0.4s ease;
			img{
				height:70px;
			}
		}
		.navbar-nav {
        	font-size: 18px; 
    	
	    	> li {
	          padding: 10px 0px; 
	      	}
	    }
	}
}


.navbar-toggle{
	margin-bottom:0px !important;
}
.nav > li > a:hover, .nav > li.active > a {
	background-color: inherit;
	color:$blue;
}
.nav > li > a:focus {
	background-color: inherit;
}



/* Dropdown Nav for Mobile
************************************/

.navbar-collapse{
	@media (max-width:$screen-sm){
		width: 100px;
		float: right;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: right;
		li{
			border-bottom: 3px indented;
		}
	}
}
