$default-text-shadow-color: rgba(#333, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 2px;

$blue:		#3498DB !default;

.show{
	display:block !important;
} 

.hide{
	display:none !important;
	visibility:hidden !important;
}

.invisible{
	visibility:hidden !important;
}