body{
	position:relative;
}
aside{ 
	@extend .col-sm-4;
	@extend .col-xs-6;

}

article{
	@extend .col-sm-8;
	@extend .col-xs-12;
}

$content-margin: 30%;

.content{
	margin: $content-margin 0;
}

a.anchor{display: block; position: relative; top: $content-margin; visibility: hidden;}

footer{
	padding:5%;
	color:#ccc;
	text-align:center;
	background-color: #000;
}



.banner{
	height:150px;
	position:relative;
	background-image: url("img/rxskull.jpg");
	overflow:hidden;

}

