
#sidebar-affix, #sidebar-offcanvas{
	
}

#menu-nav{
	list-style-type:none;
	width:175px;
	@media (min-width: $screen-sm){
		margin-top: 10%;
		width:200px;
	}
	li{
		display:block;
		padding:5px;
		text-align:right;
		outline-right: 1px solid grey;
		a{
			color:#333;
			border-right:2px solid #333;
			
		}
		a:hover{
			background-color:#00ccff;
			color:#fff;
			@include single-text-shadow;
		}
		.active a{
			
		}
	}


}
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
		background-color: #000 !important;
		@include single-text-shadow;
		color: #fff !important;
	}

